<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ExpenseDB"
			 connectionString="Server=localhost,1434;Database=ExpenseDB;User Id=sa;Password=Sa@123456@VeryStrong;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
